# Note: values.yaml files don't support templating out of the box, so that means
# that every value "{{ .Between.Curly.Braces }}" in this file needs to be
# explicitly interpolated on the template side by using the `tpl` function.

connect:
  applicationName: onepassword-connect
  api:
    name: connect-api
    imageRepository: 1password/connect-api
    resources: {}
  sync:
    name: connect-sync
    imageRepository: 1password/connect-sync
    resources: {}
  credentialsName: op-credentials
  credentialsKey: 1password-credentials.json
  credentials:
  dataVolume:
    name: shared-data
    type: emptyDir
    values: {}
  imagePullPolicy: IfNotPresent
  version: "{{ .Chart.AppVersion }}"
  nodeSelector: {}
  probes:
    liveness: true
    readiness: true

operator:
  create: false
  autoRestart: false
  applicationName: onepassword-connect-operator
  imagePullPolicy: IfNotPresent
  imageRepository: 1password/onepassword-operator
  pollingInterval: 10
  version: "1.0.1"
  nodeSelector: {}
  watchNamespace:
    - "{{ .Release.Namespace }}"
  token:
    name: onepassword-token
    key: token
    value:

  serviceAccount:
    create: "{{ .Values.operator.create }}"
    annotations: {}
    name: onepassword-connect-operator

  roleBinding:
    create: "{{ .Values.operator.create }}"
    name: onepassword-connect-operator

  clusterRole:
    create: "{{ .Values.operator.create }}"
    name: onepassword-connect-operator

service:
  type: Nodeport
  port: 8080

acceptanceTests:
  enabled: false
  fixtures: {}
