{{- if eq (tpl (.Values.operator.create | toString) .) "true" -}}
{{- if not .Values.operator.watchNamespace -}}
{{- $name := .Values.operator.clusterRoleBinding.name -}}
{{- $clusterRoleName := .Values.operator.clusterRole.name -}}
{{- $serviceAccountName := .Values.operator.serviceAccount.name -}}
{{- $connectServiceAccountName := .Values.connect.serviceAccount.name -}}
{{- $releaseNamespace := .Release.Namespace -}}
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ $name }}
  labels:
    {{- include "onepassword-connect.labels" $ | nindent 4 }}
subjects:
- kind: ServiceAccount
  name: {{ $serviceAccountName }}
  namespace: {{ $releaseNamespace }}
- kind: ServiceAccount
  name: {{ $connectServiceAccountName }}
  namespace: {{ $releaseNamespace }}
roleRef:
  kind: ClusterRole
  name: {{ $clusterRoleName }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
{{- end }}
