{{- if .Values.operator.create }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.operator.applicationName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/component: operator
    {{- include "onepassword-connect.labels" . | nindent 4 }}
  {{- with .Values.operator.labels }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.operator.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  replicas: {{ .Values.operator.replicas }}
  selector:
    matchLabels:
      name: {{ .Values.connect.applicationName }}
  template:
    metadata:
      labels:
        name: {{ .Values.connect.applicationName }}
        app.kubernetes.io/component: operator
      {{- with .Values.operator.podLabels }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.podAnnotations }}
      annotations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.operator.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.operator.priorityClassName }}
      priorityClassName: {{ .Values.operator.priorityClassName }}
      {{- end }}
      {{- with .Values.operator.podSecurityContext }}
      securityContext:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.operator.affinity }}
      affinity:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      tolerations:
      {{- toYaml .Values.operator.tolerations | nindent 8 }}
      serviceAccountName: {{ .Values.operator.serviceAccount.name }}
      volumes:
        {{- if .Values.operator.tls.trust.secret }}
        - name: tls-trust
          secret:
            secretName: {{ .Values.operator.tls.trust.secret }}
        {{- end }}
      containers:
        - name: {{ .Values.connect.applicationName }}
          image: {{ .Values.operator.imageRepository }}:{{ .Values.operator.version | default "latest" }}
          imagePullPolicy: {{ .Values.connect.imagePullPolicy }}
          {{- with .Values.operator.securityContext }}
          securityContext:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          command: [ "/manager" ]
          args:
            - --zap-log-level={{ .Values.operator.logLevel }}
            {{- if .Values.operator.enableAnnotations }}
            - --enable-annotations
            {{- end }}
            {{- if .Values.operator.allowEmptyValues }}
            - --allow-empty-values
            {{- end }}
          env:
            - name: WATCH_NAMESPACE
              value: {{ default "" (tpl (include "helm-toolkit.utils.joinListWithComma" .Values.operator.watchNamespace) .) }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "{{ .Values.operator.applicationName }}"
            - name: POLLING_INTERVAL
              value: "{{ .Values.operator.pollingInterval }}"
            - name: AUTO_RESTART
              value: "{{ .Values.operator.autoRestart }}"
            {{- if eq .Values.operator.authMethod "service-account" }}
            - name: OP_SERVICE_ACCOUNT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.operator.serviceAccountToken.name }}
                  key: {{ .Values.operator.serviceAccountToken.key }}
            {{- end }}
            {{- if eq .Values.operator.authMethod "connect" }}
            - name: OP_CONNECT_HOST
              value: "{{- include "onepassword-connect.url" . }}"
            - name: OP_CONNECT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.operator.token.name }}
                  key: {{ .Values.operator.token.key }}
            {{- end }}
            {{- range .Values.operator.customEnvVars}}
            - name: {{ .name }}
              value: {{ quote .value }}
            {{- end }}
            {{- if .Values.operator.tls.trust.secret }}
            - name: SSL_CERT_FILE
              value: /tls/trust/tls.crt
            {{- end }}
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
          volumeMounts:
            {{- if .Values.operator.tls.trust.secret }}
            - mountPath: /tls/trust
              name: tls-trust
            {{- end}}
      {{- with .Values.operator.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
{{- end }}
