injector:
  # -- The name of 1Password Kubernetes Secrets Injector Application
  applicationName: secrets-injector
  # -- The 1Password Secrets Injector docker image policy.
  imagePullPolicy: IfNotPresent
  # -- Global list of secret names to use as image pull secrets for all pod specs in the chart. Secrets must exist in the same namespace
  imagePullSecrets: []
  # -- The 1Password Secrets Injector docker image repository
  imageRepository: 1password/kubernetes-secrets-injector
  # -- The port the Secrets Injector exposes
  port: 443
  # -- The port the Secrets Injector API sends requests to the pod
  targetPort: 8443
  # -- The 1Password Secrets Injector version to pull.
  version: "{{ .Chart.AppVersion }}"
  # -- Custom Environment Variables for the 1Password Secrets Injector container that are not specified in this helm chart.
  customEnvVars: []

  # -- Pod `securityContext` for the 1Password Secrets Injector pod.
  podSecurityContext:
    fsGroup: 65532
    runAsUser: 65532
    runAsGroup: 65532
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault

  # -- Container `securityContext` for the 1Password Secrets Injector container.
  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false

  # -- [Node selector](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector) stanza for the Secrets Injector pod
  nodeSelector: {}

  # -- Additional annotations to be added to the Secrets Injector deployment resource.
  annotations: {}

  # -- Additional labels to be added to the Secrets Injector deployment resource.
  labels: {}

  # -- Additional annotations to be added to the Secrets Injector pod.
  podAnnotations: {}

  # -- Additional labels to be added to the Secrets Injector pod.
  podLabels: {}

  # -- List of tolerations to be added to the Secrets Injector pod.
  tolerations: []
