connect:
  applicationName: onepassword-connect
  api:
    name: connect-api
    imageRepository: 1password/connect-api
    resources: {}
  sync:
    name: connect-sync
    imageRepository: 1password/connect-sync
    resources: {}
  credentialsName: op-credentials
  credentialsKey: 1password-credentials.json
  credentials: 
  dataVolume:
    name: shared-data
    type: emptyDir
    values: {}
  imagePullPolicy: IfNotPresent
  version: "1.0.0"

namespace: default 

operator:
  create: false
  autoRestart: false
  applicationName: onepassword-connect-operator
  imagePullPolicy: IfNotPresent
  imageRepository: 1password/onepassword-operator
  pollingInterval: 10
  version: "1.0.0"
  watchNamespace:
   - "default"
  token:
    name: onepassword-token
    key: token
    value: 

  serviceAccount:
    create: false
    annotations: {}
    name: onepassword-connect-operator

  roleBinding:
    create: false
    name: onepassword-connect-operator

  clusterRole:
    create: false
    name: onepassword-connect-operator

service:
  type: Nodeport
  port: 8080

