apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.injector.applicationName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.injector.applicationName }}
    {{- include "onepassword-connect.labels" . | nindent 4 }}
  {{- with .Values.injector.labels }}
  {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- with .Values.injector.annotations }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.injector.applicationName }}
  template:
    metadata:
      labels:
        app: {{ .Values.injector.applicationName }}
      {{- with .Values.injector.podLabels }}
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.injector.podAnnotations }}
      annotations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      {{- with .Values.injector.nodeSelector }}
      nodeSelector:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.injector.tolerations }}
      tolerations:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ .Values.injector.applicationName }}
      {{- with .Values.injector.podSecurityContext }}
      securityContext:
      {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Values.injector.applicationName }}
          image: {{ .Values.injector.imageRepository }}:{{ tpl .Values.injector.version . }}
          imagePullPolicy: {{ .Values.injector.imagePullPolicy }}
          args:
          - -service-name={{ .Values.injector.applicationName }}
          - -alsologtostderr
          - -v=4
          - 2>&1
          env:
          - name: POD_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.namespace
          {{- range .Values.injector.customEnvVars}}
          - name: {{ .name }}
            value: {{ quote .value }}
          {{- end }}
          lifecycle:
            preStop:
              exec:
                command: [ "/bin/sh", "-c", "/prestop.sh" ]
          {{- with .Values.injector.securityContext }}
          securityContext:
          {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      {{- with .Values.injector.imagePullSecrets }}
      imagePullSecrets:
      {{- range . }}
        - name: {{ . | quote }}
      {{- end }}
      {{- end }}
      volumes:
        - name: tmp
          emptyDir: {}
