apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.injector.applicationName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Values.injector.applicationName }}
spec:
  ports:
    - port: {{ .Values.injector.port }}
      targetPort: {{ .Values.injector.targetPort }}
  selector:
    app: {{ .Values.injector.applicationName }}
