{{- if .Values.operator.create }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.operator.applicationName }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "onepassword-connect.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      name: {{ .Values.connect.applicationName }}
  template:
    metadata:
      labels:
        name: {{ .Values.connect.applicationName }}
    spec:
{{- with .Values.operator.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
      serviceAccountName: {{ .Values.operator.serviceAccount.name }}
      containers:
        - name: {{ .Values.connect.applicationName }}
          image: {{ .Values.operator.imageRepository }}:{{ .Values.operator.version | default "latest" }}
          imagePullPolicy: {{ .Values.connect.imagePullPolicy }}
          securityContext:
            runAsUser: 65532
            runAsGroup: 65532
            allowPrivilegeEscalation: false
            capabilities:
              add: []
          command: ["/manager"]
          env:
            - name: WATCH_NAMESPACE
              value: {{ include "helm-toolkit.utils.joinListWithComma" .Values.operator.watchNamespace | default .Release.Namespace }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "{{ .Values.operator.applicationName }}"
            - name: OP_CONNECT_HOST
              value: "http://{{ .Values.connect.applicationName }}:8080"
            - name: POLLING_INTERVAL
              value: "{{ .Values.operator.pollingInterval }}"
            - name: OP_CONNECT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.operator.token.name }}
                  key: {{ .Values.operator.token.key }}
            - name: AUTO_RESTART
              value: "{{ .Values.operator.autoRestart }}"
{{- end }}

