name: Lint charts
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Helm
        uses: azure/setup-helm@v4.3.1

      # Set up Python for ct lint, which needs Python for Yamale and yamllint
      - name: Set up Python
        uses: actions/setup-python@v6

      - name: Set up ct CLI
        uses: helm/chart-testing-action@v2.7.0

      - name: Lint chart
        run: ct lint --config ct.yaml
