name: Lint charts
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: v3.14.0

      # Set up Python for ct lint, which needs Python for Yamale and yamllint
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Set up ct CLI
        uses: helm/chart-testing-action@v2.7.0

      - name: Lint chart
        run: ct lint --config ct.yaml
