name: Release Charts

on:
  push:
    branches:
      - main
    paths:
      - charts/**

jobs:
  release:
    permissions:
      contents: write # for helm/chart-releaser-action to push chart release and create a release
      packages: write # for pushing chart to the GHCR registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          # Authenticate as the GitHub Actions bot https://api.github.com/users/github-actions%5Bbot%5D
          git config user.name "GitHub Actions"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v4

      - name: Run chart-releaser
        # Fork of helm/chart-releaser-action to avoid unwanted release attempts.
        # Upstream PR: https://github.com/helm/chart-releaser-action/pull/80
        uses: florisvdg/chart-releaser-action@v1.3.0
        with:
          charts_dir: charts
        id: cr
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_SKIP_EXISTING: true

      - if: ${{ steps.cr.outputs.changed_charts }}
        name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - if: ${{ steps.cr.outputs.changed_charts }}
        name: Push Charts to GHCR
        run: |
          for pkg in .cr-release-packages/*; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push "${pkg}" oci://ghcr.io/${GITHUB_REPOSITORY_OWNER,,} # convert repository owner to lowercase
          done
