name: Run acceptance tests [Connect chart]
on:
  push:

  # Workflow dispatch listener to enable on-demand acceptance test runs on external PRs.
  # How to use this:
  # * Do a sanity check on the submitted PR
  # * Copy the most recent commit hash of the PR branch
  # * Go to 'Actions' -> 'Run acceptance tests' -> 'Run workflow'
  # * Fill in the following:
  #   * `checkout-repo`: `<PR author>/connect-helm-charts`
  #   * `checkout-ref`: <copied commit hash>
  #   * `branch`: `acceptance-tests-on-forks`
  workflow_dispatch:
    inputs:
      checkout-repo:
        required: false
      checkout-ref:
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: ${{ github.event.inputs.checkout-repo }}
          ref: ${{ github.event.inputs.checkout-ref }}

      - name: Install required tools
        run: make install

      - name: Check if chart has changed
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run acceptance tests
        if: steps.list-changed.outputs.changed == 'true'
        working-directory: charts/connect
        env:
          OP_CONNECT_CREDENTIALS: ${{ secrets.OP_CONNECT_CREDENTIALS }}
          OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          OP_VAULT_ID: ${{ secrets.OP_VAULT_ID }}
          OP_ITEM_ID: ${{ secrets.OP_ITEM_ID }}
          OP_SECRET_VALUE: ${{ secrets.OP_SECRET_VALUE }}
        run: make test-e2e
