name: Run acceptance tests
on:
  push:

  # Workflow dispatch listener to enable on-demand acceptance test runs on external PRs.
  # How to use this:
  # * Do a sanity check on the submitted PR
  # * Copy the most recent commit hash of the PR branch
  # * Go to 'Actions' -> 'Run acceptance tests' -> 'Run workflow'
  # * Fill in the following:
  #   * `checkout-repo`: `<PR author>/connect-helm-charts`
  #   * `checkout-ref`: <copied commit hash>
  #   * `branch`: `acceptance-tests-on-forks`
  workflow_dispatch:
    inputs:
      checkout-repo:
        required: false
      checkout-ref:
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          repository: ${{ github.event.inputs.checkout-repo }}
          ref: ${{ github.event.inputs.checkout-ref }}

      - name: Set up Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.4.1

      - name: Set up ct CLI
        uses: helm/chart-testing-action@v2.1.0
        with:
          version: v3.4.0

      - name: Check if chart has changed
        id: list-changed
        run: |
          changed=$(ct list-changed --config ct.yaml)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Install yq
        run: sudo snap install yq
        if: steps.list-changed.outputs.changed == 'true'

      - name: Run acceptance tests
        env:
          OP_CONNECT_CREDENTIALS: ${{ secrets.OP_CONNECT_CREDENTIALS }}
          OP_CONNECT_TOKEN: ${{ secrets.OP_CONNECT_TOKEN }}
          OP_VAULT_ID: ${{ vars.OP_VAULT_ID || 'v5pz6venw4roosmkzdq2nhpv6u' }}
          OP_ITEM_ID: ${{ vars.OP_ITEM_ID || 'hrgkzhrlvscomepxlgafb2m3ca' }}
          OP_SECRET_VALUE: ${{ vars.OP_SECRET_VALUE || 'RGVhciBzZWN1cml0eSByZXNlYXJjaGVyLCB0aGlzIGlzIGp1c3QgYSBkdW1teSBzZWNyZXQuIFBsZWFzZSBkb24ndCByZXBvcnQgaXQu' }}
        run: make test-e2e
